<!--Added for Chart-->
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <br>
      <h4 class="text-center"><strong>Mortgage Pie Chart</strong></h4>
      <!-- Output Data - to display the output in the form of Pie Chart -->
      <p-chart type="pie" [data]="chartData"></p-chart>
    </div>

    <div class="col-xs-6">
      <br>
      <h4 class="text-center"><strong>Mortgage Payment Schedule</strong></h4>
      <!-- Added for responsive table-->
      <!-- Output Component - to display the output in Material Responsive Table format with pagination support-->
      <div class="example-container mat-elevation-z8">
        <!--Data Source should be mapped to this property which holds the table data-->
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="Payment #">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Payment #</th>
            <td mat-cell *matCellDef="let element"><span class="mobile-label">Payment #</span>#{{element.index}} </td>
          </ng-container>
          <ng-container matColumnDef="Principal Payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Principal Payment </th>
            <td mat-cell *matCellDef="let element"><span class="mobile-label">Principal Payment</span>{{element.payment | currency:'USD':true:'1.2-2'}} </td>
          </ng-container>
          <ng-container matColumnDef="Interest Payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Interest Payment </th>
            <td mat-cell *matCellDef="let element"><span class="mobile-label">Interest Payment</span>{{element.interest | currency:'USD':true:'1.2-2'}} </td>
          </ng-container>
          <ng-container matColumnDef="Total Payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Payment </th>
            <td mat-cell *matCellDef="let element"><span class="mobile-label">Total Payment</span>{{element.principal| currency:'USD':true:'1.2-2'}} </td>
          </ng-container>
          <ng-container matColumnDef="Ending Balance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ending Balance </th>
            <td mat-cell *matCellDef="let element"><span class="mobile-label">Ending Balance</span>{{element.balance | currency:'USD':true:'1.2-2'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
        <!--Added for Pagination Support-->
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </div>
      </div>
  </div>
</div>
