<!-- Header Component - displays the title and Mortgage Monthly Payment-->
<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <!-- Input Component - to input the data required for Mortgage Calculator-->
      <app-input></app-input>
    </div>
    <div class="col-xs-12">
       <!-- Output Component - to display the output in the form of Pie Chart, Material Responsive Table with pagination support-->
      <app-output></app-output>
    </div>
  </div>
</div>
