
<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm">
        <small style="padding-left: 320px" class="form-text text-danger" *ngIf="isValidAmount">Please enter a valid Deposit Amount.</small>

      <div class="form-horizontal">
          <div class="form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <i class="fa fa-question-circle" style="width: 20px;height: 20px" data-toggle="tooltip" title="Mortgage Amount" data></i>
            <label for="mortgageAmount">Mortgage Amount</label>
            <div class="input-group">
            <span class="input-group-addon">$</span>
            <input
              type="number"
              id="mortgageAmount"
              class="form-control"
              [(ngModel)] = "mortgageObj.mortgageAmount"
              (change) = "calMortgage()"
              name="mortgageAmount"
              required>
            </div>
          </div>
          <div class="form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <i class="fa fa-question-circle" style="width: 20px;height: 20px" data-toggle="tooltip" title="Deposit Amount" data></i>
            <label for="depositAmount">Deposit Amount</label>
            <div class="input-group">
            <span class="input-group-addon">$</span>
            <input
              type="number"
              id="depositAmount"
              class="form-control"
              [(ngModel)] = "mortgageObj.depositAmount"
              (change) = "calMortgage(); isValid()"
              name="depositAmount"
              required>
            </div>
          </div>
          <div class="form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <i class="fa fa-question-circle" style="width: 20px;height: 20px" data-toggle="tooltip" title="Loan Amount" data></i>
            <label for="loanAmount">Loan Amount</label>
            <div class="input-group">
            <span class="input-group-addon">$</span>
            <input
              type="number"
              id="loanAmount"
              class="form-control"
              [(ngModel)] = "mortgageObj.loanAmount"
              (change) = "calMortgage()"
              name="loanAmount"
              disabled>
            </div>
          </div>
          <div class="form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <i class="fa fa-question-circle" style="width: 20px;height: 20px" data-toggle="tooltip" title="Interest Rate" data></i>
            <label for="interestRate">Interest Rate</label>
            <div class="input-group">
            <input
              type="number"
              id="interestRate"
              class="form-control"
              [(ngModel)] = "mortgageObj.interestRate"
              (change) = "calMortgage()"
              name="interestRate"
              required>
            <span class="input-group-addon">%</span>
            </div>
          </div>
          <div class="form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <i class="fa fa-question-circle" style="width: 20px;height: 20px" data-toggle="tooltip" title="Amortization Period" data></i>
            <label for="amortizationPeriod">Amortization Period</label>
            <div class="input-group">
            <span class="input-group-addon">$</span>
            <select  [(ngModel)] = "mortgageObj.amortizationPeriod"
                     (change) = "calMortgage()"
                     id="amortizationPeriod"
                     class="form-control"
                     name="amortizationPeriod"
                     style="width: 200px">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
              <option>25</option>
              <option>30</option>
            </select>
            </div>
          </div>
          <div class="form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <i class="fa fa-question-circle" style="width: 20px;height: 20px" data-toggle="tooltip" title="Payment Frequency" data></i>
            <label for="paymentFrequency">Payment Frequency</label>
            <div class="input-group">
            <span class="input-group-addon">$</span>
            <select [(ngModel)] = "mortgageObj.paymentFrequency"
                    (change) = "calMortgage()"
                    id="paymentFrequency"
                    class="form-control"
                    name="paymentFrequency"
                    style="width: 200px">
              <option value="Monthly">Monthly</option>
              <option>Bi-weekly</option>
              <option>Weekly</option>
            </select>
            </div>
          </div>
          <!--<button class="btn btn-primary">Calculate</button>-->
      </div>

      </form>
    </div>
  </div>
</div>


